<h1 class="title text-center">Eat Da Burgers!</h1>

{{!-- Burger List Available --}}
<div class="container">
    <div class="row">
        <div class="col" id="list-burger">
        <h2>Available Burgers</h2>
            {{#each burgers}}
            {{#unless this.eat}}
                <div class="available-burger">
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST" class="update-button">
                        {{this.name}}
                        <button type="submit" class="btn- btn-primary" id="burger-ready">Eat It!</button>
                    </form>
                </div>
            {{/unless}}
            {{/each}}
        </div>
        {{!-- Burger You Ate List --}}
        <div class="col" id="list-devoured">
            <h2 class="burger-title text-center">You Ate: </h2>
            {{#each burgers}}
            {{#if this.eat}}
                <div class="devoured-burgers">
                    {{this.name}}
                </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
{{!-- Adding a burger --}}
<form id="add-burger" action="/burgers" class="create-form" method="POST">
    <div class="form-group col-md-8">
        <input type="text" id="enter-burger" name="name" class="form-control">
        <button type="submit" class="btn btn-default" id="submit-burger">Add Da Burger!</button>
    </div>
</form>