* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
  }
  
  #burger-pic {
    background-image: url("./images/burger.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  ul {
    list-style: none;
  }
  
  .list-btn {
    position: relative;
    float: right;
  }
  
  .container {
    justify-content: center;
  }