<li class="list-group-item">
    {{burger_name}}
    <button class="eatburger btn btn-outline-dark btn-sm list-btn" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devoured}}I'm Full Now!{{else}}Eat{{/if}}
    </button>
</li>